## Leetcode Pandas Challenge for 30 Days
In this notebook, I solved all 30 questions of Leetcode's Pandas Challange for 30 day at August 2023

# Question 17 
## Immediate Food Delivery I

                    +-----------------------------+---------+
                    | Column Name                 | Type    |
                    +-----------------------------+---------+
                    | delivery_id                 | int     |
                    | customer_id                 | int     |
                    | order_date                  | date    |
                    | customer_pref_delivery_date | date    |
                    +-----------------------------+---------+
delivery_id is the primary key (column with unique values) of this table.
The table holds information about food delivery to customers that make orders at some date and specify a preferred delivery date (on the same order date or after it).
 

If the customer's preferred delivery date is the same as the order date, then the order is called immediate; otherwise, it is called scheduled.

Write a solution to find the percentage of immediate orders in the table, rounded to 2 decimal places.

The result format is in the following example.

 

Example 1:

Input: 

                +-------------+-------------+------------+-----------------------------+
                | delivery_id | customer_id | order_date | customer_pref_delivery_date |
                +-------------+-------------+------------+-----------------------------+
                | 1           | 1           | 2019-08-01 | 2019-08-02                  |
                | 2           | 5           | 2019-08-02 | 2019-08-02                  |
                | 3           | 1           | 2019-08-11 | 2019-08-11                  |
                | 4           | 3           | 2019-08-24 | 2019-08-26                  |
                | 5           | 4           | 2019-08-21 | 2019-08-22                  |
                | 6           | 2           | 2019-08-11 | 2019-08-13                  |
                +-------------+-------------+------------+-----------------------------+
Output: 

                                    +----------------------+
                                    | immediate_percentage |
                                    +----------------------+
                                    | 33.33                |
                                    +----------------------+
Explanation: The orders with delivery id 2 and 3 are immediate while the others are scheduled.

In [2]:
import pandas as pd

def food_delivery(delivery: pd.DataFrame) -> pd.DataFrame:
    return pd.DataFrame({'immediate_percentage': [
        round(delivery[delivery['order_date'] == delivery['customer_pref_delivery_date']].size / delivery.size * 100, 2)
    ]})

# Question 18
## Count Salary Categories
Table: Accounts

                            +-------------+------+
                            | Column Name | Type |
                            +-------------+------+
                            | account_id  | int  |
                            | income      | int  |
                            +-------------+------+
account_id is the primary key (column with unique values) for this table.
Each row contains information about the monthly income for one bank account.
 

Write a solution to calculate the number of bank accounts for each salary category. The salary categories are:

"Low Salary": All the salaries strictly less than $20000.
"Average Salary": All the salaries in the inclusive range [$20000, $50000].
"High Salary": All the salaries strictly greater than $50000.
The result table must contain all three categories. If there are no accounts in a category, return 0.

Return the result table in any order.

The result format is in the following example.

 

Example 1:

Input: Accounts table:

                            +------------+--------+
                            | account_id | income |
                            +------------+--------+
                            | 3          | 108939 |
                            | 2          | 12747  |
                            | 8          | 87709  |
                            | 6          | 91796  |
                            +------------+--------+
Output: 

                            +----------------+----------------+
                            | category       | accounts_count |
                            +----------------+----------------+
                            | Low Salary     | 1              |
                            | Average Salary | 0              |
                            | High Salary    | 3              |
                            +----------------+----------------+
Explanation: 
Low Salary: Account 2.
Average Salary: No accounts.
High Salary: Accounts 3, 6, and 8.